Repository Bassani-Paulo/Projeto-MC656, pull requests merged in 2024-11, with the labels that each got.

#49 Implementando refactoring
  Jogo/scripts/Tartaruga/Jogo da Tartaruga.gd
  Jogo/scripts/Tartaruga/life.gd
  Jogo/scripts/Tartaruga/lixo.gd
Labels: Jogo da Tartaruga, Avaliação A4

#55 mecanismo de game over
  Jogo/scenes/Tartaruga/GameOver.tscn
  Jogo/scripts/Tartaruga/GameOver.gd
  Jogo/scripts/Tartaruga/Jogo da Tartaruga.gd
  Jogo/scripts/Tartaruga/LabelLinkTamar.gd
Labels: Jogo da Tartaruga

#44 Criando jogo da abelha e movimentação com mouse
  .DS_Store
  .github/workflows/Godot build and run.yml
  Jogo/assets/sprites/attack_bee.png
  Jogo/assets/sprites/attack_bee.png.import
  Jogo/assets/sprites/bee.png
  Jogo/assets/sprites/bee.png.import
  Jogo/assets/sprites/sunflower_background.jpg
  Jogo/assets/sprites/sunflower_background.jpg.import
  Jogo/scenes/Abelha/Jogo.tscn
  Jogo/scenes/Abelha/Player.tscn
  Jogo/scripts/Abelha/player.gd
  Jogo/tests/test_bee_movement.gd
  Jogo/tests/test_turtle_hitbox.gd
  Jogo/tests/test_turtle_hp.gd
  Jogo/tests/test_turtle_movement.gd
Labels: Jogo da Abelha
